@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	background: #F5F5F5;
}

.login {
	width: 1440px;
	height: 789px;
	margin: 0 auto;
	background: #FFFFFF;
}

.login__wrapper {
	width: 100%;
	height: 789px;
	display: flex;
	justify-content: space-around;
}

.login__sidebar {
	width: 678.56px;
	height: 789px;
	padding: 108px 0px 198.78px 65px;
	border-right: 2px solid #FFFFFF;
}

.login__logo-img {
	width: 613.56px;
	height: 482.22px;
	border: 1px solid #FFFFFF;
	border-radius: 16.8053px;
}

.login__form {
	width: 761.49px;
	padding: 117px 150px 65px 71.44px;
}

.login__form-link {
	margin-bottom: 42px;
}

.login__form-link>p {
	font-weight: 500;
	font-size: 18px;
	line-height: 23px;
	color: #333539;
	text-align: right;
}

.login__form-link>p>a {
	font-weight: 500;
	font-size: 20px;
	line-height: 25px;
	text-decoration-line: underline;
	color: #333539;
	margin-left: 54px;
}

.login__input-Div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 34px;
}

.login__input-Div>label {
	font-weight: 500;
	font-size: 20px;
	line-height: 25px;
	color: #333539;
	margin-left: 0px;
}

.login__email-input,
.login__password-input {
	width: 345px;
	height: 45.73px;
	border: 0.622334px solid #333539;
	border-radius: 10.4585px;
	outline: none;
	padding: 15px;
}

.login__btn {
	margin: 52px 0px 28px 195px;
	width: 345px;
	height: 57px;
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
	color: #FFFFFF;
	background: #7573F2;
	border-radius: 10.4585px;
	border: none;
	text-decoration: none;
	cursor: pointer;
}

.login__forgot-pass-link {
	margin: 0px 82px 0px 296px;
	font-weight: 500;
	font-size: 20px;
	line-height: 25px;
	text-decoration-line: underline;
	color: #333539;
	text-align: center;
}

.login__article {
	font-weight: 500;
	font-size: 20px;
	line-height: 25px;
	color: #333539;
	margin: 44px 0px 0px 65px;
	text-align: center;
}

.login__gf {
	display: flex;
	gap: 26.23px;
	margin: 13px 0px 136px 78px;
}

.google__signin,
.facebook__signin {
	width: 217.9px;
	height: 45.73px;
	padding: 9.92px 83.3px 11.32px 68.6px;
	background: #7573F2;
	border: 0.622334px solid #333539;
	border: none;
	border-radius: 10.4585px;
	cursor: pointer;
}

.google__signin-link,
.facebook__signin-link {
	font-weight: 500;
	font-size: 20px;
	line-height: 25px;
	text-decoration: none;
	color: #FFFFFF;
}